<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ditzler.cole.myapplication2.feature2">

    <application>

        <activity android:name=".Main2Activity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:label="@string/app_name"
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />

            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StockManiaActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".StockManiaActivityWithTime">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".StockManiaActivityAutoplayer">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".StockManiaActivityPowerfulAutoplayer">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


            <activity android:name=".DiceGame">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

            <activity android:name=".MusicSoup">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


            <activity android:name=".HareSplitting">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

            <activity android:name=".RabbitHutch">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

            <activity android:name=".gumbler">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>